/** Start Global **/
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

/** End Global **/

/** Start Header **/

header{
    background-color: #01161A;
}

#navbar{
    justify-content: space-between;
}

.navbar-toggler-icon{
    background-image: url('assets/icons/menu.svg');
}

.responsive-logo{
    width: 228px;
    display: none;
    margin: auto;
}

@media (max-width: 992px){
    .responsive-logo{
        display: block !important;
    }   
    .navbar-brand{
        display: none;
    }
}

header .nav-link{
    color: white;
    font-family: Inter;
    font-weight: 500;
    margin: 0 15px;
    font-style: normal;
    line-height: normal;
}

header .nav-link:hover{
    color: #EEAB9F
}

header .active{
    color: #EEAB9F !important;
}

.what-we-do{
    display: flex;
    margin: auto;
}

.custom-container{
    padding-left: 80px;
    display: flex;
    position: relative;
    overflow: hidden;
}


@media (min-width: 1600px){
    .custom-container{
        width: 1500px;
        margin: auto;
    }
}

@media (max-width: 992px){
    .custom-container{
        display: block;
    }
}


@media (max-width: 992px){
    .custom-container{
        height: 800px;
    }
}

@media (max-width: 667px){
    .custom-container{
        height: 1000px;
    }
}

@media (max-width: 352px){
    .custom-container{
        height: 1450px;
    }
}

.custom-container .right,
.custom-container .left{
    flex-basis: 50%;
}

@media (max-width: 992px){
    .custom-container .right,
    .custom-container .left{
        flex-basis: auto;
    }
}

@media (max-width: 992px){
    .custom-container .left{
        position: absolute;
        z-index: 2;
    }
}

.custom-container .right{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.custom-container .right svg{
    position: relative;
    bottom: 0;
    right: 120px;
    z-index: 1;
}

@media (max-width: 576px){
    .custom-container .right svg{
        right: 0;
    }
}

.custom-container .right img{
    width: 100%;
}

.square{
    display: flex;
    flex-direction: column;
}

.square .line{
    display: flex;
    position: relative;
}

.square svg{
    backdrop-filter: blur(2px);
    margin: 2.5px;
    border-radius: 50%;
}

.paragraphs{
    margin-top: 110px;
}

.paragraph{
    display: flex;
    align-items: start;
    justify-content: center;
    width: 593px;
    margin-top: 80px;
}

@media (max-width: 772px){
    .paragraph{
        width: 100%;
    }
}

.paragraph p{
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 700;
    margin: 2px auto;
}

@media (max-width: 576px){
    .paragraph p{
        font-size: 14px;
    }
}

.paragraph .line-rect{
    content: "";
    position: absolute;
    width: 97%;
    height: 4px;
    background: #9adae3;
    border-radius: 15px;
    left: -23px;
}

.paragraph-1 .line-rect{
    top: 8.2px;
}

.paragraph-2 .line-rect{
    top: 28px;
}

.paragraph-3 .line-rect{
    top: 47.5px;
}

.paragraph-4 .line-rect{
    top: 68px;
}

.image img{
    width: 100%;
}


#line-header-projects{
    position: absolute;
    right: 100px;
    bottom: -40%;
    z-index: 1;
}

/** End Header **/

/** Start Projects **/
#projects{
    min-height: 900px;
    background-color: #01161A;
}


#projects .bg{
    background-image: url(assets/images/home_slider.png);
    height: 571px;
    position: absolute;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#projects .bg::after{
    content: "";
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #ffffff00, #01161a);
    position: absolute;
    bottom: 0;
}

#projects svg{
    backdrop-filter: blur(4px);
    border-radius: 31px;
    position: absolute;
    min-height: 555.696px;
    padding: 19px;
}

#projects-carousel{
    background-image: url("assets/images/favicon.png");
}

#projects .container {
    border-radius: 8px;
    backdrop-filter: blur(4px);
    position: relative;
    position: relative;
    transform: translateY(200px);
}

#projects .container:before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 8px;
    padding: 1px;
    pointer-events: none;
    background: linear-gradient(
        135deg,
        rgba(255, 255, 255, 1) 25%,
        rgba(255, 255, 255, 0) 100%
    );
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
}

#projects .carousel-inner{
    padding: 100px;
}

#projects .carousel-inner p{
    color: #FFF;
    text-align: justify;
    font-family: Inter;
    font-size: 19px;
    font-weight: 600;
}

@media (max-width: 768px){
    #projects .carousel-inner p{
        font-size: 14px;
    }
}

#projects .carousel-indicators{
    bottom: 45px;
}

#projects .carousel-control-prev{
    background: #0D0C0C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translate(-3px, -50%);
    opacity: 1;
}

#projects .carousel-control-next{
    background: #0D0C0C;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translate(3px, -50%);
    opacity: 1;
}

#projects .carousel-control-prev-icon{
    margin-right: 5px
}
#projects .carousel-control-next-icon{
    margin-left: 5px
}



/** End Projects **/

/** Start Footer **/

footer{
    padding: 50px 0 10px 0;
    background-color: #151F25;
}

footer .container{
    display: flex;
    flex-direction: column;
}

footer .top{
    display: flex;
    justify-content: space-between;
}

.top .description{
    padding: 60px 0;
}

.description p{
    color: #8184A3;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.s-m h2{
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

.s-m ul{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.s-m ul a{
    color: #8184A3;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
}

.l-d-s{
    width: 500px;
}

.social-media{
    width: 70%;
    padding-bottom: 50px;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}


.bottom{
    padding-top: 20px;
    border-top: 2px solid #8184A3;
    display: flex;
    justify-content: space-between;
}

.bottom .copy{
    color: #8184A3;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
}

.bottom .pages a:first-of-type{
    margin-right: 35px;
}

.bottom .pages a{
    color: #8184A3;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
/** End Footer **/


